[submodule ".config/btop/themes/rose-pine"]
	path = .config/btop/themes/rose-pine
	url = https://github.com/rose-pine/btop
[submodule ".config/btop/themes/eldritch-theme"]
	path = .config/btop/themes/eldritch-theme
	url = https://github.com/eldritch-theme/btop.git
[submodule ".config/btop/themes/catppuccin"]
	path = .config/btop/themes/catppuccin
	url = https://github.com/catppuccin/btop.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/plugins/you-should-use"]
	path = .oh-my-zsh/custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
